# ========================
# macOS Dateien
# ========================
.DS_Store

# ========================
# Java / Kompilierte Dateien
# ========================
*.class
*.log
*.jar
*.war
*.ear

# ========================
# Eclipse
# ========================
.project
.classpath
.settings/
bin/
jar/

# ========================
# IntelliJ IDEA
# ========================
*.iml
.idea/
out/

# ========================
# Maven
# ========================
target/

# ========================
# Gradle
# ========================
.gradle/
build/

# ========================
# Node / npm (falls im Projekt)
# ========================
node_modules/

# ========================
# Sonstige temporäre Dateien
# ========================
*.tmp
*.swp


/data/
